{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Sharer</legend>
                <h2>Are you sure you want to cancel this order?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">confirm deletion</button>
                <a class="btn-outline-secondary" href="{% url 'joinorders' %}">Cancel</button>
            </div>
        </form>
    </div>
{% endblock content %}