{% extends "users/base.html" %}
{% block content %}
<h1>Rides Join Searching Results</h1>

{% if not orders %}
  <p>Sorry! No order matched for you to join!</p>
  <button class="btn btn-outline-info" onclick="javascript:history.go(-1);" type="button">Return</button>
{% endif %}
  {% for order in orders %}
      <article class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href=" ">{{ order.dest_addr }}</a >
            <a class="text-muted">{{ order.arrival_date|date:"F d, Y" }}</a>
            <small class="text-muted">{{ order.status }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'shareorderdetail' order.id %}">{{ order.dest_addr }}</a ></h2>
        </div>
      </article>
  {% endfor %}
{% endblock content %}