{% extends "users/base.html" %}
{% block content %}
<h1>Rides Joining History</h1>
  {% for sharer in sharers %}
    {% if sharer.ride_order %}
      <article class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
        <div class="media-body">
          <div class="article-metadata">
            <a class="text-muted">{{ sharer.ride_order.dest_addr }}</a >
            <a class="text-muted">{{ sharer.ride_order.arrival_date|date:"F d, Y" }}</a>
            <small class="text-muted">{{ sharer.ride_order.status }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'joinhistory' sharer.ride_order.id %}">{{ sharer.ride_order.dest_addr }}</a ></h2>
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endblock content %}