{% extends "users/base.html" %}
{% block content %}
<h1><p style="font-family:Bradley Hand;">Catalog Detail</p> </h1>
  {% if commodities %}
    {% for commodity in commodities %}
        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
          <!-- <img src="img_chania.jpg" alt="Flowers in Chania" width="460" height="345"> -->
          <img src="{{ commodity.commodity_img }}" class="img-thumbnail" alt="picture of the product" width="50">
          <a class="" href="{% url 'commoditydetail' commodity.id %}">
            <i class='fa-regular fa-envelope fa-2x' style='color:#12d972'></i>
            contact seller
          </a>
          <div class="media-body">
            <div class="article-metadata">
              <a class="article-title" href="{% url 'commoditydetail' commodity.id %}">{{ commodity.commodity_name }}</a >
            </div>
            <!-- <h2><a class="article-title" href="{% url 'commoditydetail' commodity.id %}">{{ commodity.commodity_name }}</a ></h2> -->
          </div>
        </article>
    {% endfor %}
  
  {% else %}
  <p> No open or confirmed orders </p>
  {% endif%}
{% endblock content %}