{% extends "users/base.html" %}
{% block content %}
<h1> Order history </h1>
  {% if packs %}
    {% for pack in packs %}
        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
          <div class="media-body">
            <div class="article-metadata">
              <a class="text-muted">package id is :{{ pack.id }}</a >
              <a class="text-muted">package status is :{{ pack.status }}</a>
              <a class="text-muted">package dest is :({{ pack.dest_x }},{{ pack.dest_y }})</a>
              <a class="text-muted">estimated arrtime is :{{ pack.estimate_arrtime }}</a>
              <small class="text-muted">{{ cata.status }}</small>
            </div>
            <!-- <h2><a class="article-title" href="{% url 'orderlist' pack.id %}">{{ pack.ups_account }}</a ></h2> -->
            <h2><a class="article-title" href="{% url 'orderlist' pack.id %}">related ups account: {{ pack.ups_account }}</a ></h2>
            <h2><a class="article-title" href="{% url 'orderlist' pack.id %}">order-time: {{ pack.package_job_time }}</a ></h2>
          </div>
        </article>
    {% endfor %}
  
  {% else %}
  <p> No placed orders </p>
  {% endif%}
{% endblock content %}