body{
    /* margin: 0; */
    padding: 0;
    background-image: url("images/bb.gif");
    /* background: #62549e; */

}
.search-box{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    /* background: #2f3640; */
    background-position: center;
    background-image: url("images/dog.gif");
    background-size: 35%;
    height: 40px;
    border-radius: 40px;
}
.search-btn{
    background-image: url("images/dog.gif");
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* background: #2f3640; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background-image: url("images/dog.gif");
    /* background: white; */
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 250%;
    width: 0px;

}
/* .cart-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
} */

.cart-btn {
    position: absolute;
    top: 15%;
    left: 80%;
    font-size:15px;
    font-family:Arial;
    width:40px;
    height:40px;
    border-width:2px;
    color:#505739;
    border-color:#333029;
    font-weight:bold;
    border-top-left-radius:5px;
    border-top-right-radius:15px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:15px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    text-shadow: 0px 1px 0px #ffffff;
    /* background:linear-gradient(#eae0c2, #ccc2a6); */
    /* background-image: url("images/order_icon.jpeg");
    background-size: contain;
    background-repeat: no-repeat; */
  }
  
  .cart-btn:hover {
    background: linear-gradient(#ccc2a6, #eae0c2);
  }
                